# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build output
dist/

# Production build output
build/

# Vite cache
.vite/

# Local environment variables
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache directory
.npm/

# MacOS system files
.DS_Store
